In [3]:
def speak():    #method declaration
    print("Say Good Afternoon!")   #functions statement created
speak()   #method call

Say Good Afternoon!

In [5]:
#no parameter no return values
def add():
    a = int(input("Enter the value to add with:"))
    b = int(input("Enter the value to add with:"))
    c = a+b
    print("Addition of two number is: ", c)
add()

Enter the value to add with: 5
Enter the value to add with: 5

Addition of two number is:  10

In [11]:
def rev():
    num = int(input("Enter the value to reverse it: "))
    rev = 0
    while(num!=0):
        r = num%10
        rev = rev*10+r
        num = num//10
    print(rev)
rev()

Enter the value to reverse it:  1234

4321

In [22]:
def star():
    for i in range(0,10,1):
        for j in range(0,i,1):
            print(end="*")
        print()
star()

*
**
***
****
*****
******
*******
********
*********

In [44]:
def palindrome():
    num = int(input("Enter the value:"))
    rev = 0
    prnum = num
    while(num!=0):
        r = num % 10
        rev = rev*10 + r
        num = num // 10
        print(rev)
    if prnum == rev:
        print("Palindrome")
    else:
        print("Not a Palindrome")
palindrome()

Enter the value: 12345

5
54
543
5432
54321
Not a Palindrome

In [28]:
#parameter but no return values
def add(a,b):
    c = a+b
    print(c)
add(5,10)

15

In [30]:
#parameter but return values
def add(a,b):
    c = a + b 
    return c     #it is a last statement of values and it will execute only on this given block of statement.
add(10,20)

30

In [38]:
#no parameter but return values
def add():
    a = int(input("Enter the values: "))    #local variable
    b = int(input("Enter the values: "))
    c = a+b
    print("Addition:",c)
    d = a-b
    return d
add()

Enter the values:  30
Enter the values:  20

Addition: 50

10

In [45]:
def power(a):
    c = a ** 2
    print("Power:",c)
power(10)

Power: 100

In [58]:
def star():
    for i in range(10,1,-1):
        for j in range(i,1,-1):
            print(end="*")
        print()
star()

*********
********
*******
******
*****
****
***
**
*

In [ ]:
def even():
    a = int(input("enter the values: "))
    while(a<6):
        if(a%2==0):
            print("Even Number is: ", a)
        else:
            print("Odd Number")
even()

In [17]:
def display():    #returning a list
    return 1,2,3,4
display()
print(type(display()))

<class 'tuple'>

In [2]:
def display():    #returning a list
    return 1,2,3,4
data1=display()
print(data1)

(1, 2, 3, 4)

In [16]:
def display():     #returning a list
    str="Hello World"
    x=20
    return [str,x]
display()
print(type(display()))

<class 'list'>

In [5]:
def display():
    demo = dict()
    demo[1] = "Hola mi Quesa"
    demo[2] = 25
    return demo
data1=display()
print(data1)

{1: 'Hola mi Quesa', 2: 25}

In [11]:
def dis():
    demo = {1:'Edwin','Last Name':'John'}
    return demo
demo=dis()
print(demo)

{1: 'Edwin', 'Last Name': 'John'}

In [13]:
def dey():
    demo = {'First Name':'Edwin','Last Name':'John'}
    return demo
dey()

{'First Name': 'Edwin', 'Last Name': 'John'}

In [15]:
print(type(dey()))

<class 'dict'>

In [18]:
#reuired argumenst
def mul(a,b):
    c=a*b
    print(c)
mul(10,20)

200

In [21]:
#default argument
def sq(n=25):
    return n**2
sq()

625

In [37]:
def reverse(n=10201):
    rev=0
    pr=n
    while(n!=0):
        r = n%10
        rev = rev*10 + r
        n = n//10
        print(rev)
    if(pr == rev):
        print("It is a Palindrome")
    else:
        print("NOt a palindrome")
reverse()

1
10
102
1020
10201
It is a Palindrome

In [62]:
def arm(n=4):
    sum=0
    temp=n
    if(n!=0):
        d = temp % 10
        sum = sum + d**3
        temp = temp/10
    print(sum)
        if()
arm()

64

In [42]:
#Keyword
def volume(r,h):
    print("radius is", r)
    print("height is",h)
    vol=3.14*r*r*h
    print(vol)
volume(r=10,h=5)
print("Sequence changed")
volume(h=5,r=10)

radius is 10
height is 5
1570.0
Sequence changed
radius is 10
height is 5
1570.0

In [44]:
def tuple():
    m = 1,2,3,4,5
    return m
tuple()
print(type(tuple()))

<class 'tuple'>

In [45]:
#variable length
def add(*x):    # * means it is a tuple of variable length of the values that you can put
    print(x)
    print(type(x))
    sum=0
    for i in x:
        sum=sum+i
    print("Addition",sum)
add(1,5,6,7,9,10)

(1, 5, 6, 7, 9, 10)
<class 'tuple'>
Addition 38

In [52]:
def add(**x):   # ** means it is a dictionary of variable length of the values that ou can put
    print(x)
    print(type(x))
    sum=0
    for i in x:
        sum = sum + x[i]
    print("Addition", sum)
add(fi=1,s=2,t=3,fr=5,f=6)

{'fi': 1, 's': 2, 't': 3, 'fr': 5, 'f': 6}
<class 'dict'>
Addition 17

In [53]:
#scope of the variable
a = 10 #global variable
def add():
    b = 5  #local variable
    c = a+b
    print(c)
    print("Global inside the statement",a)
    print("local",b)
add()
print("Global outside the statement",a)  #but local variable cannot be executed outside the parameter

15
Global inside the statement 10
local 5
Global outside the statement 10

In [64]:
#if we need to define the global varible inside the statement as "global a"
a=30
def fun():
    b=9
    global a 
    print(a)
    print(type(a))
fun()

30
<class 'int'>