In [6]:
class Addition:
    f=0
    s=0
    a=0
    def __init__(self,f1,s1):
        self.f=f1
        self.s=s1
    def display(self):
        print("First number"+str(self.f))
        print("Second number"+str(self.s))
        print("Addition of two number:"+str(self.a))
    def calc(self):
        self.a=self.f+self.s
obj=Addition(100,200)
obj.calc()
obj.display()

First number100
Second number200
Addition of two number:300

In [13]:
class student:
    def __init__(self,a1):
        self.a=a1
    def display(self):
        if(self.a>90):
            print("A grade")
        else:
            print("Fail")
obj=student(100)
obj.display()

A grade

In [9]:
emp1.disp()

ID: 1
 name: Edwin

In [14]:
emp2.disp()

ID: 2
 name: Megha

In [15]:
emp3.disp()

ID: 3
 name: Om

In [18]:
class student:
    count=0
    def __init__(self):
        student.count=student.count+1
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
print("Total number of students:",student.count)

Total number of students: 27

In [19]:
class Student():
    def __init__(self):
        print("First Constructor")
    def __init__(self):
        print("Second Constructor")

ob = Student()

Second Constructor

In [1]:
class emp:
    def __init__(self,name,eid):
        self.eid=eid
        self.name=name
    def disp(self):
        print("ID: %d\n name: %s\n"%(self.eid,self.name))
emp1=emp("Edwin",1)
emp2=emp("Megha",2)
emp3=emp("Om",3)

In [2]:
emp1.disp()

ID: 1
 name: Edwin

In [28]:
class student:
    def __init__(self,sid,name,rollnum,add,grade):
        self.sid=sid
        self.name=name
        self.rollnum=rollnum
        self.add=add
        self.grade=grade
    def disp(self):
        print("ID: %d\n name: %s\n rollnumber: %r\n address: %a\n grade %g"%(self.sid,self.name,self.rollnum,self.add,self.grade))
        
student1=student(1,"Edwin",19,"Mumbai",55)
student2=student(2,"Om",20,"Mumbai",80)
student3=student(3,"Megha",15,"Mumbai",75)

In [29]:
student1.disp()

ID: 1
 name: Edwin
 rollnumber: 19
 address: 'Mumbai'
 grade 55

In [39]:
class bank:
    def __init__(self,id,name,account,branch):
        self.id=id
        self.name=name
        self.account=account
        self.branch=branch
    def disp(self):
        print("ID: %d\n name: %s\n account: %r\n branch: %s\n"%(self.id,self.name,self.account,self.branch))

bank1=bank(1,"Edwin",876543,"SBI Kharghar")
bank2=bank(2,"Megha",898762,"HDFC Vashi")
bank3=bank(3,"Sairaj",345678,"PNB Punjab")

In [40]:
bank1.disp()

ID: 1
 name: Edwin
 account: 876543
 branch: SBI Kharghar

In [41]:
bank2.disp()

ID: 2
 name: Megha
 account: 898762
 branch: HDFC Vashi

In [42]:
bank3.disp()

ID: 3
 name: Sairaj
 account: 345678
 branch: PNB Punjab

In [54]:
#access identifier (public)
class student:
    stream="cs"
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
a=student("Edwin",1)
b=student("Jake",2)

# print(student.stream)
# print(a.stream)

# print(a.name)
# print(b.name)

# a.stream="IT"
# print(a.stream)
# print(b.stream)

student.stream="IT"
print(student.stream)
print(a.name,a.rollno,a.stream)
print(b.name,b.rollno,b.stream)

IT
Edwin 1 IT
Jake 2 IT

In [55]:
class democlass:
    num = 101
    def __init__(self):  #non-parameterized constructor
        self.num = 999
    def read_num(self):   #a method
        print(self.num)

obj = democlass()
obj.read_num()

999

In [56]:
class demo:
    num = 101
    def read_fun(self):
        print(self.num)
obj = demo()
obj.read_fun()

101

In [57]:
#access public identifier and constructor
class ticket:
    location="Panvel"
    def __init__(self,id,destination,price):
        self.id=id
        self.destination=destination
        self.price=price
a=print(1,"Pune",1000)
b=print(2,"Kerala",2500)
c=print(3,"Jammu & Kashmir",3500)

1 Pune 1000
2 Kerala 2500
3 Jammu & Kashmir 3500

In [58]:
class ticket:
    location="Panvel"
    def __init__(self,id,destination,price):
        self.id=id
        self.destination=destination
        self.price=price
    def disp(self):
        print("ID: %d\n, Destination: %n\n, Price: %p\n"%(id,destination,price))
a=ticket(1,"Pune",1000)
b=ticket(2,"Kerala",2500)
c=ticket(3,"Jammu & Kashmir",3500)

In [59]:
a.disp()

NameError: name 'destination' is not defined