In [6]:
class Addition:
    f=0
    s=0
    a=0
    def __init__(self,f1,s1):
        self.f=f1
        self.s=s1
    def display(self):
        print("First number"+str(self.f))
        print("Second number"+str(self.s))
        print("Addition of two number:"+str(self.a))
    def calc(self):
        self.a=self.f+self.s
obj=Addition(100,200)
obj.calc()
obj.display()

First number100
Second number200
Addition of two number:300

In [13]:
class student:
    def __init__(self,a1):
        self.a=a1
    def display(self):
        if(self.a>90):
            print("A grade")
        else:
            print("Fail")
obj=student(100)
obj.display()

A grade

In [9]:
emp1.disp()

ID: 1
 name: Edwin

In [14]:
emp2.disp()

ID: 2
 name: Megha

In [15]:
emp3.disp()

ID: 3
 name: Om

In [18]:
class student:
    count=0
    def __init__(self):
        student.count=student.count+1
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
s1=student()
s2=student()
s3=student()
print("Total number of students:",student.count)

Total number of students: 27

In [19]:
class Student():
    def __init__(self):
        print("First Constructor")
    def __init__(self):
        print("Second Constructor")

ob = Student()

Second Constructor

In [8]:
class emp:
    def __init__(self,name,eid):
        self.eid=eid
        self.name=name
    def disp(self):
        print("ID: %d\n name: %s\n"%(self.eid,self.name))
emp1=emp("Edwin",1)
emp2=emp("Megha",2)
emp3=emp("Om",3)

In [20]:
class student:
    def __init__(self,sid,sname,srollnum,sadd,sgrade):
        self.sid=sid
        self.sname=sname
        self.srollnum=srollnum
        self.sadd=sadd
        self.sgrade=sgrade
    def disp(self):
        print("ID: %d\n name: %s\n rollnumber: %r\n address: %a\n grade %g\n"%(self.sid,self.sname,self.srollnum,self.sadd,self.sgrade))
emp1=emp(1,"Edwin",19,"Mumbai","C Grade")

TypeError: emp.__init__() takes 3 positional arguments but 6 were given