In [1]:
dict1 = {1:'one',2:'two'}
print(tuple(dict1))

(1, 2)

In [2]:
word = 'Tuple Example'
tuple = tuple(word)
print(tuple)

('T', 'u', 'p', 'l', 'e', ' ', 'E', 'x', 'a', 'm', 'p', 'l', 'e')

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
print(type(thistuple))

3
<class 'tuple'>

In [6]:
tuple1 = tuple((1,2))
print(tuple1)

TypeError: 'tuple' object is not callable

In [7]:
thistuple = ("apple",)    #its a tuple
print(type(thistuple))

thistuple = ("apple")     #not a tuple
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [9]:
thistuple = ("apple","banana","cherry")
print(thistuple[2])

cherry

In [13]:
thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [14]:
print(thistuple[::-1])

('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')

In [19]:
thistuple = ("apple","banana","cherry")      #concating tuple
y = ("GORA","orange",)
new_tuple=thistuple+y
print(new_tuple)

('apple', 'banana', 'cherry', 'GORA', 'orange')

In [21]:
#unpacking a tuple
#when we create a tuple, we normally assign values to it. This is called "packing" a tuple.
#but, in python, we are also allowed to extract the values back into variables. this is called "unpacking" a tuple.

fruits = ("apple","banana","cherry")
fruits
(green,yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [29]:
thistuple = ("apple","banana","cherry","orange","kiwi","melon","mango")   # * means to pack in one group so that it will be print other group

(green,*yellow,red,blue) = thistuple

print(green)
print(yellow)
print(red)
print(blue)

apple
['banana', 'cherry', 'orange', 'kiwi']
melon
mango

In [37]:
thistuple = (1,3,2,5,6,4,3,7,5,6,8,0,3)
thistuple.count(3)

3

In [38]:
thistuple.index(3)

1