In [3]:
def speak():    #method declaration
    print("Say Good Afternoon!")   #functions statement created
speak()   #method call

Say Good Afternoon!

In [5]:
#no parameter no return values
def add():
    a = int(input("Enter the value to add with:"))
    b = int(input("Enter the value to add with:"))
    c = a+b
    print("Addition of two number is: ", c)
add()

Enter the value to add with: 5
Enter the value to add with: 5

Addition of two number is:  10

In [11]:
def rev():
    num = int(input("Enter the value to reverse it: "))
    rev = 0
    while(num!=0):
        r = num%10
        rev = rev*10+r
        num = num//10
    print(rev)
rev()

Enter the value to reverse it:  1234

4321

In [22]:
def star():
    for i in range(0,10,1):
        for j in range(0,i,1):
            print(end="*")
        print()
star()

*
**
***
****
*****
******
*******
********
*********

In [44]:
def palindrome():
    num = int(input("Enter the value:"))
    rev = 0
    prnum = num
    while(num!=0):
        r = num % 10
        rev = rev*10 + r
        num = num // 10
        print(rev)
    if prnum == rev:
        print("Palindrome")
    else:
        print("Not a Palindrome")
palindrome()

Enter the value: 12345

5
54
543
5432
54321
Not a Palindrome

In [28]:
#parameter but no return values
def add(a,b):
    c = a+b
    print(c)
add(5,10)

15

In [30]:
#parameter but return values
def add(a,b):
    c = a + b 
    return c     #it is a last statement of values and it will execute only on this given block of statement.
add(10,20)

30

In [38]:
#no parameter but return values
def add():
    a = int(input("Enter the values: "))    #local variable
    b = int(input("Enter the values: "))
    c = a+b
    print("Addition:",c)
    d = a-b
    return d
add()

Enter the values:  30
Enter the values:  20

Addition: 50

10

In [45]:
def power(a):
    c = a ** 2
    print("Power:",c)
power(10)

Power: 100

In [58]:
def star():
    for i in range(10,1,-1):
        for j in range(i,1,-1):
            print(end="*")
        print()
star()

*********
********
*******
******
*****
****
***
**
*

In [ ]:
def even():
    a = int(input("enter the values: "))
    while(a<6):
        if(a%2==0):
            print("Even Number is: ", a)
        else:
            print("Odd Number")
even()

In [17]:
def display():    #returning a list
    return 1,2,3,4
display()
print(type(display()))

<class 'tuple'>

In [2]:
def display():    #returning a list
    return 1,2,3,4
data1=display()
print(data1)

(1, 2, 3, 4)

In [16]:
def display():     #returning a list
    str="Hello World"
    x=20
    return [str,x]
display()
print(type(display()))

<class 'list'>

In [5]:
def display():
    demo = dict()
    demo[1] = "Hola mi Quesa"
    demo[2] = 25
    return demo
data1=display()
print(data1)

{1: 'Hola mi Quesa', 2: 25}

In [11]:
def dis():
    demo = {1:'Edwin','Last Name':'John'}
    return demo
demo=dis()
print(demo)

{1: 'Edwin', 'Last Name': 'John'}

In [13]:
def dey():
    demo = {'First Name':'Edwin','Last Name':'John'}
    return demo
dey()

{'First Name': 'Edwin', 'Last Name': 'John'}

In [15]:
print(type(dey()))

<class 'dict'>

In [18]:
#reuired argumenst
def mul(a,b):
    c=a*b
    print(c)
mul(10,20)

200

In [21]:
#default argument
def sq(n=25):
    return n**2
sq()

625

In [37]:
def reverse(n=10201):
    rev=0
    pr=n
    while(n!=0):
        r = n%10
        rev = rev*10 + r
        n = n//10
        print(rev)
    if(pr == rev):
        print("It is a Palindrome")
    else:
        print("NOt a palindrome")
reverse()

1
10
102
1020
10201
It is a Palindrome

In [62]:
def arm(n=4):
    sum=0
    temp=n
    if(n!=0):
        d = temp % 10
        sum = sum + d**3
        temp = temp/10
    print(sum)
        if()
arm()

64

In [42]:
#Keyword
def volume(r,h):
    print("radius is", r)
    print("height is",h)
    vol=3.14*r*r*h
    print(vol)
volume(r=10,h=5)
print("Sequence changed")
volume(h=5,r=10)

radius is 10
height is 5
1570.0
Sequence changed
radius is 10
height is 5
1570.0

In [44]:
def tuple():
    m = 1,2,3,4,5
    return m
tuple()
print(type(tuple()))

<class 'tuple'>

In [45]:
#variable length
def add(*x):    # * means it is a tuple of variable length of the values that you can put
    print(x)
    print(type(x))
    sum=0
    for i in x:
        sum=sum+i
    print("Addition",sum)
add(1,5,6,7,9,10)

(1, 5, 6, 7, 9, 10)
<class 'tuple'>
Addition 38

In [52]:
def add(**x):   # ** means it is a dictionary of variable length of the values that ou can put
    print(x)
    print(type(x))
    sum=0
    for i in x:
        sum = sum + x[i]
    print("Addition", sum)
add(fi=1,s=2,t=3,fr=5,f=6)

{'fi': 1, 's': 2, 't': 3, 'fr': 5, 'f': 6}
<class 'dict'>
Addition 17

In [53]:
#scope of the variable
a = 10 #global variable
def add():
    b = 5  #local variable
    c = a+b
    print(c)
    print("Global inside the statement",a)
    print("local",b)
add()
print("Global outside the statement",a)  #but local variable cannot be executed outside the parameter

15
Global inside the statement 10
local 5
Global outside the statement 10

In [64]:
#if we need to define the global varible inside the statement as "global a"
a=30
def fun():
    b=9
    global a 
    print(a)
    print(type(a))
fun()

30
<class 'int'>

In [1]:
#anonymous function
f=lambda a,b : a+b
print(f(8,2))

10

In [5]:
f = lambda a=4,b=2 : a+b
print(f())

6

In [8]:
def ha():
    return lambda a=9,b=7 : a+b
new=ha()
print(new())

16

In [9]:
def ga(n):
    return lambda a:a*n
new=ga(2)
print(new(5))

10

In [43]:
def ga(): 
    return lambda x,y: x if x>y else y
new=ga()
print(new(7,8))

8

In [66]:
def even(n):
    for i in range(0,10,1):
        if(n%2==0):
            return lambda e:"Even"
        else:
            return lambda e:"Odd"
new=even(6)
print(new(0))

Even

In [49]:
#use of map function
list1=[3,4,5,6,7]
square1=list(map(lambda x:x**2,list1))
square1

[9, 16, 25, 36, 49]

In [78]:
even=list(map(lambda x:x if(x%2==0) else (x%2!=0),range(0,10)))
print(even)

[0, True, 2, True, 4, True, 6, True, 8, True]

In [76]:
list1=['hey','Edwin','here']
a=list(map(len,list1))
a

[3, 5, 4]

In [79]:
list1=[1,2,3,4,5,6,7,8,9]
cubed = list(map(lambda x:pow(x,3), list1))
cubed

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [81]:
circle = [3.2,4.57, 6.78,5.976]
result = list(map(round,circle))
result

[3, 5, 7, 6]

In [83]:
circle = [3.2,4.57, 6.78,5.976]
result = list(map(lambda x:round(x) ,circle))
result

[3, 5, 7, 6]

In [85]:
#use of filter function
def checkgrade(marks):     
    return marks>75
listscore=[58,89,76,56,34,23]
grade=list(filter(checkgrade,listscore))
print(grade)

[89, 76]

In [3]:
words=['abc','aba','12321']
palin=list(filter(lambda x:x==x[::-1],words))
palin

['aba', '12321']

In [8]:
num=[0,1,2,3,4,5,6,7,8,9,10]
even=list(filter(lambda x:x if x%2==0 else "odd",num))
even

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
n=[1,2,3]
s=['one','two','three']

#no iterables are passed
result = zip()    #zip function
r_list=list(result)
print(r_list)

result = zip(n,s)
r = set(result)
print(r)

result = zip(n,s)
r = list(result)
print(r)

[]
{(2, 'two'), (1, 'one'), (3, 'three')}
[(1, 'one'), (2, 'two'), (3, 'three')]

In [18]:
a = ("John","Charles","Mike")
b = ("Jenny", "Christy","Monica","Vicky")

r=zip(a,b)
r_1 = tuple(r)
print(r_1)

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [19]:
from functools import reduce

#reduce(function, iterable[, initializer])

number=[1,2,3,4,5]
sum=reduce((lambda x,y:x+y),number)
sum

15

In [7]:
num=[0,1,2,3,4,5,6,7,8]
even=list(map(lambda x:x if x%2==0 else "Odd",num))
even

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8]

In [21]:
num=[1,2,3,4,5,6]
def product(x,y):
    return x*y
prod=reduce(product,num)
print(prod)

720

In [1]:
num=[0,1,2,3,4,5,6,7,8]
even=list(filter(lambda x: (x%2==0),num))
even

[0, 2, 4, 6, 8]

In [4]:
num=[0,1,2,3,4,5,6,7,8,9,10]
x=list(filter(lambda a: (a%2!=0),num))
print(x)

[1, 3, 5, 7, 9]

In [16]:
def sq(n):
    return n*n
x=(1,2,35,7,9,9)
r=map(sq,x)
print(list(r))

[1, 4, 1225, 49, 81, 81]

In [22]:
x={1,2,35,7,9,9}
re=list(map(lambda n:n*n,x))
re

[1, 4, 1225, 49, 81]

In [26]:
from functools import reduce
num=[210,15,12,15]
sum=(reduce(lambda x,y:x+y,num))
print(sum)

252

In [38]:
# Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and prints the result.
from functools import reduce
num=[1,2,3,4,5,6]
sum=(reduce(lambda x,y:(x*y)+15,num))
print(sum)

8475

In [37]:
#Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
from functools import reduce
num=[2,10,2,5]
add=list(map(lambda x: x * 10,num))
print(add)

[20, 100, 20, 50]

In [54]:
num=[5,3,2,1,8,1]
# n=num.sort()
# print(num)
s= list(map(lambda x: num.sort(),num))
print(s)
print(num)

[None, None, None, None, None, None]
[1, 1, 2, 3, 5, 8]

In [59]:
models = [{'make':'Nokia', 'model':216, 'color':'Black'}, {'make':'Mi Max', 'model':'2', 'color':'Gold'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]
s = dict(map(lambda x:models.sort(),models))
print(s)
print(models)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [32]:
def rev(x):
    if x==1:
        return "This is not a reverse number"
    else:
        r_1=0
        r = x%10
        r_1 = r_1*10+r
        x = x//10
        print(x)
        
x = 121
print(rev(x))
# print("The reverse number of",x,"is",rev(x))

12
None

In [2]:
#num=int(input("Enter the number to factorial")) #factorial
num = int(input("Enter the Values:"))
f=1
for i in range(1,num+1):
    f=f*i
    print(f)

Enter the Values: 7

1
2
6
24
120
720
5040

In [4]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

fact(7)

5040

In [10]:
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)
        
count=int(input("Enter the values of b: "))
if count<=0:
    print("Nuber is greater than")
else:
    for i in range(count):
        print(fib(i),end=" ")

Enter the values of b:  10

0 1 1 2 3 5 8 13 21 34

In [9]:
fib=int(input("Enter the value:"))
for i in range(0,fib):
    if(fib<=1):
        n = fib(n-1)+fib(n-2)
        print(n)

Enter the value: 10