In [1]:
st={1,2,3,5,8,4,2}
type(st)

set

In [4]:
st=set("abcdwd")
print(st)

{'c', 'w', 'd', 'b', 'a'}

In [5]:
#set of mixed datatypes
st={1.0,"Hello",(1,2,3)}
print(st)

{1.0, (1, 2, 3), 'Hello'}

In [8]:
#set cannnot have duplicate value
st={1,2,3,4,3,2}
print(st)

{1, 2, 3, 4}

In [7]:
#set cannot have mutable items like [1,2,3]
st={1,2,[3,4]}
st

TypeError: unhashable type: 'list'

In [9]:
#set cannot be print in list way
st={1,2,3,6,8}
st

{1, 2, 3, 6, 8}

In [10]:
st[1]

TypeError: 'set' object is not subscriptable

In [11]:
st.add(9)
st

{1, 2, 3, 6, 8, 9}

In [13]:
st.add(-1)
st

{-1, 1, 2, 3, 6, 8, 9}

In [15]:
st.add(4)
st

{-1, 1, 2, 3, 4, 6, 8, 9}

In [16]:
st.add(5)
st

{-1, 1, 2, 3, 4, 5, 6, 8, 9}

In [22]:
st.pop()
st

{-1, 5, 6, 8, 9}

In [26]:
st.add(3)
st

{-1, 1, 2, 3, 5, 6, 8, 9}

In [27]:
st.update([9,10,11])
st

{-1, 1, 2, 3, 5, 6, 8, 9, 10, 11}

In [28]:
st.update([4,5],{-2,7})
st

{-2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [29]:
st.update("Hello")
st

{-1, -2, 1, 10, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'H', 'e', 'l', 'o'}

In [2]:
#difference between discard() and remove()
#the only difference is that the discard() function leaves a set unchanged if the element is not present in the set. on the other hand,
#the remove() function will raise an error in such a condition(if element is not present in the set)
st={1,2,3,4,5,6}
st.discard(3)
st

{1, 2, 4, 5, 6}

In [3]:
st.remove(2)
st

{1, 4, 5, 6}

In [32]:
#python set operators
#set can be used to carry out mathematical set operations like union,intersection, difference and symmetric difference

a = {1,2,3,4,5}
b = {6,7,8,9,10}
print(a | b)   #union set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [36]:
a = {4,5,6}   #intersection
b = {1,3,4,6}
print(a & b)

{4, 6}

In [37]:
a.intersection(b)

{4, 6}

In [38]:
b.intersection(a)

{4, 6}

In [39]:
print(a - b)   #difference

{5}

In [40]:
print(a ^ b)  #symmetric difference

{1, 3, 5}